[submodule "el-get/git-modes"]
	path = el-get/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "el-get/magit"]
	path = el-get/magit
	url = https://github.com/magit/magit.git
[submodule "el-get/virtualenvwrapper"]
	path = el-get/virtualenvwrapper
	url = https://github.com/porterjamesj/virtualenvwrapper.el.git
